.btn-groups {
    margin-top: 20px;
    position: relative;
    display: inline-flex;
    vertical-align: middle;
}

@media screen and (max-width: 600px) {
    .btn-groups{
        display: flex;
        position: relative;
        flex-direction: column;
    }
  }